#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul, #navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 1px dotted;
}

/*home info*/
#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
  text-align: center center;
}

/*boxes*/
.box {
  float: none;
  width: 100%;
  text-align: center center;
}

/*about mobile*/

#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}

#about-info .info-right {
  margin-top: 30px;
}

.l-heading {
  text-align: center;
}
/*contact boxes*/

#contact-info .box {
  border-bottom: #446 dotted 1px;

}

/*showcase-content*/
#showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 30px;
}

#navbar .logo a {
  color: limegreen;
}
